go 1.20

use (
	./go-handler-plugin
	./go-sdk
	./go-sdk/plugins/config
	./go-sdk/plugins/exit
	./go-sdk/plugins/fs
	./go-sdk/plugins/host
	./go-sdk/plugins/http
	./go-sdk/plugins/log
	./go-sdk/plugins/sleep
	./go-sdk/plugins/var
	./slingshot-server

	./plugins/tests/some-functions
	./plugins/tests/read-env
	./plugins/tests/use-redis

	./00-hello-go

	./00-print-go
	./01-hello-go
	./02-env-var-go
	./03-mem-cache-go
	./04-redis-go
)

// go work sync
